
body{
    background-color: peachpuff;
}

.crot{
    font-style: italic;
    border: azure;
    background-position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}


    
